* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*navbar*/
.navbar {
  background-color: #f5f9fa;
  height: 80px;
  margin: 20px 5px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: #47a8d8;
  font-size: 24px;
  transition: 0.3s color;
}

.login-button,
.btn-cart {
  background-color: #47a8d8;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.25s background-color;
}

.btn-cart {
  margin-left: 10px;
  width: 40px;
  padding-left: 12px;
}

.login-button:hover {
  background-color: rgb(214, 212, 172);
  color: white;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #47a8d8;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
/*End navbar*/

/* body form */
#wrapper {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('/images/background.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
}

#logo {
  padding-left: 0;
  height: 5%;
  width: 5%;
  size: 5%;
  border-radius: 1000px;
  background: rgba(254, 253, 253, 0.8);
}

#form-log {
  max-width: 400px;
  background: rgba(0, 0, 0, 0.8);
  flex-grow: 1;
  padding: 30px 30px 40px;
  box-shadow: 0 0 17px 2px rgba(255, 255, 255, 0.8);
}

.form-heading {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  border-bottom: 1px solid #fff;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}

.form-group i {
  color: white;
  font-size: 15px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 2px;
}

.form-input {
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  flex-grow: 1;
}

.form-input::placeholder {
  color: white;
}

.eye i {
  padding-right: 0;
  cursor: pointer;
}

.form-submit {
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 100%;
  padding: 6px 10px;
  transition: 0.25s ease-in-out;
  margin-top: 30px;
}

.form-submit:hover {
  border: 1px solid blue;
}

#h4 {
  text-align: center;
  color: rgb(48, 15, 182);
  text-decoration: none;
  justify-content: center;
  margin-bottom: 50px;
}

#a {
  text-decoration: none;
  color: red;
}

/*Footer*/
.footer p {
  text-align: left;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer {
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
}

.footer h5 {
  font-size: 18px;
  text-align: left;
}

.footer > h5 > li {
  text-align: left;
}
/*End footer*/
